<nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
    <a class="navbar-brand mb-0 h1">
        <div class="navbar-icon">
        <i class="fa-solid fa-flask"></i><a class="navbar-brand">Demo</a>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="#">Demo Only</a>
            </li>
        </ul>
    </div>
</nav>
